<footer class="footer">
    <div class="footer__email">
        <span class="footer__email_text">Please contact us: </span>
        <a href="mailto: kdr-support@kpmg.ua" class="footer__email_link link">kdr-support@kpmg.ua</a>
    </div>
    <nav class="footer__nav">
            <ul class="footer__nav_list">
                <li class="footer__nav_item">
                    <a class="footer__nav_link link" href="/accession-agreement">Accession Agreement</a>
                </li>
                <li class="footer__nav_item">
                    <a class="footer__nav_link link" href="/dutch-regulations">Dutch regulations </a>
                </li>
                <li class="footer__nav_item">
                    <a class="footer__nav_link link" href="/english-rgulations">English regulations </a>
                </li>
                <li class="footer__nav_item">
                    <a class="footer__nav_link link" href="/operator-fee-schedule ">Operator fee schedule </a>
                </li>
                <li class="footer__nav_item">
                    <a class="footer__nav_link link" href="/confirmation-letter-template">Confirmation letter template</a>
                </li>
                <li class="footer__nav_item">
                    <a class="footer__nav_link link" href="/statement-of-liability-limitatio">Statement of liability limitatio</a>
                </li>
                <li class="footer__nav_item">
                    <a class="footer__nav_link link" href="/protection-of-personal-data">Protection of personal data</a>
                </li>
            </ul>
        </nav>
        <div class="footer_text">
            KPMG-Ukraine Ltd., a company incorporated under the Laws of Ukraine, a member firm of the KPMG network of independent member firms affiliated with KPMG International Cooperative ("KPMG International"), a Swiss entity.
        </div>
</footer>
