<section class="banner">
    <div class="container">
        <div class="banner_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div class="banner__bloks">
            <div class="banner__blok-wrap">
                <div class="banner__blok">Acceptance of proposals</div>
                <div class="banner__blok-main">
                    <div class="banner__blok_title">Acceptance of proposals</div>
                    <img src="../../assets/img/winner.png" alt="winner" class="banner__blok_img">
                    <div class="banner__blok_text">
                        Lorem ipsum dolor sit amet, consectetur  adipiscing elit, sed do eiusmod tempor incididunt ut.
                    </div>
                </div>
                <div class="banner__blok_circle"></div>
            </div>
            <div class="banner__blok-wrap">
                <div class="banner__blok">Challenge</div>
                <div class="banner__blok-main">
                    <div class="banner__blok_title">Challenge</div>
                    <img src="../../assets/img/winner.png" alt="winner" class="banner__blok_img">
                    <div class="banner__blok_text">
                        Lorem ipsum dolor sit amet, consectetur  adipiscing elit, sed do eiusmod tempor incididunt ut.
                    </div>
                </div>
                <div class="banner__blok_circle"></div>
            </div>
            <div class="banner__blok-wrap">
                <div class="banner__blok">Winner selection</div>
                <div class="banner__blok-main">
                    <div class="banner__blok_title">Winner selection</div>
                    <img src="../../assets/img/winner.png" alt="winner" class="banner__blok_img">
                    <div class="banner__blok_text">
                        Lorem ipsum dolor sit amet, consectetur  adipiscing elit, sed do eiusmod tempor incididunt ut.
                    </div>
                </div>
                <div class="banner__blok_circle"></div>
            </div>
            <div class="banner__blok-wrap">
                <div class="banner__blok">Payment <br /> for the asset <span></span></div>
                <div class="banner__blok-main">
                    <div class="banner__blok_title">Paymentfor the asset</div>
                    <img src="../../assets/img/winner.png" alt="winner" class="banner__blok_img">
                    <div class="banner__blok_text">
                        Lorem ipsum dolor sit amet, consectetur  adipiscing elit, sed do eiusmod tempor incididunt ut.
                    </div>
                </div>
                <div class="banner__blok_circle"></div>
            </div> 
        </div>
        <div class="banner__scroll">
            <span class="banner__scroll_text">Scroll down</span>
            <a scrollTo href="#scroll" class="banner__scroll_btn">
                <div></div><div></div><div></div><div></div>
            </a>
            <span class="banner__scroll_text">to see more</span>
        </div>
    </div>
</section>

<section class="ofers">
    <div id="scroll"></div>
    <div class="container">
        <h2 class="ofers_title title">We offer our clients</h2>
        <div class="ofers_dcr description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        <div class="ofers__bloks">
            <div class="ofers__blok">
                <div class="ofers__blok-wrap">
                    <h3 class="ofers__blok_title">Convenient and <br /> simple interface</h3>
                    <div class="ofers__blok_dcr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </div>
                </div>
            </div>
            <div class="ofers__blok">
                <div class="ofers__blok-wrap">
                    <h3 class="ofers__blok_title">Reputation, reliability, and safety</h3>
                </div>
            </div>
            <div class="ofers__blok">
                <div class="ofers__blok-wrap">
                    <h3 class="ofers__blok_title">Long-term support</h3>
                </div>         
            </div>
            <div class="ofers__blok">
                <div class="ofers__blok-wrap">
                    <h3 class="ofers__blok_title">Transparency</h3>
                </div>  
            </div>
            <div class="ofers_main">
                    KPMG consec elit
                    <div></div>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <h2 class="about_title title">About us</h2>
        <div class="about__bloks">
            <div class="about__blok">
                <h4 class="about__blok_title">first of big4</h4>
                <div class="about__blok_text">
                    <div class="about__blok_text-in">
                        <b>KPMG in Ukraine is the first and only one among the Big 4 </b> and other companies, members of international networks, that launched its own auction platform and only one among the Big 4 and other companies, members of international networks, that launched its own auction platform.
                    </div>
                </div>
                <div (click)="readMore($event)" class="about__blok_more link">Read more</div>
                <a href="https://home.kpmg/ua/uk/home.html" class="about__blok_link link">kpmg.ua</a>
            </div>
            <div class="about__blok">
                <h4 class="about__blok_title">international</h4>
                <div class="about__blok_text">
                    <div class="about__blok_text-in">
                        <b>KPMG International is a global network of professional firms providing audit, tax and advisory services. </b> We operate in 154 countries and have more than 200,000 professionals working in member firms around the world. KPMG International member-firms provide audit, tax, legal, and advisory services and cooperate closely with our clients to help them mitigate risks and realize opportunities for their business.
                    </div>
                </div>
                <div (click)="readMore($event)" class="about__blok_more link">Read more</div>
                <a href="https://home.kpmg/xx/en/home.html" class="about__blok_link link">kpmg.com</a>
            </div>
            <div class="about__blok">
                <h4 class="about__blok_title">reputation</h4>
                <div class="about__blok_text">
                    <div class="about__blok_text-in">
                        The clients of KPMG International member firms include corporations, government agencies, and non-profit organizations. <b> We provide our clients with high-quality standards based on professionalism </b> clients of KPMG International member firms include corporations, government agencies, and non-profit organizations. We provide our clients with high-quality standards based on professionalism.
                    </div>
                </div>
                <div (click)="readMore($event)" class="about__blok_more link">Read more</div>
                <a href="https://home.kpmg/xx/en/home.html" class="about__blok_link link">kpmg.com</a>
            </div>
        </div>
    </div>
</section>